
<div class="dashboard-background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 dashboard-heading">
        <h1><%= @user.name %> <span class="small"><%= @weekcount %></span> <span class="small"><%= @language %></span></h1>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
          <div class="box-title">
            <h3>Assignments Completed</h3>
          </div>
            <div class="col-xs-12 graph-box box">
              <%= line_chart @assignmentscompleted,colors: ["#779CAB", "#A2E8DD"] %>
            </div>
        </div>
        <div class="col-xs-4">
          <div class="box-title">
            <h3>Performance</h3>
          </div>
            <div class="col-xs-12 graph-box box">
              <%= render partial: "performance_chart", locals: {:students => @students} %>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-xs-6">
          <div class="box-title">
            <h3>Announcements:</h3>
          </div>
          <div class="col-xs-12 alert-box box">
            <% @alerts.each do |alert| %>
              <p><%= alert.message %></p>
            <% end %>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="box-title">
            <h3>Instant Feedback:</h3>
          </div>
            <div class="col-xs-12 alert-box box">
              <table class='toggle_table text-center'>
                <form id="instant-feedback">
                  <tbody>
                  <tr>
                      <td colspan="4"><h4 class="text-left">I feel like I'm: </h4></td>
                      <td>On Pace</td>
                      <td>
                        <label for='performance' class="switch">
                            <% if @user.happy == true %>
                            <input id="performance" type="checkbox">
                            <% else %>
                            <input id="performance" type="checkbox" checked="checked">
                            <% end %>
                            <div class="slider round"></div>
                        </label>
                      </td>
                      <td>Behind</td>
                  </tr>
                  <tr>
                    <td colspan="4"><h4 class="text-left">I need help: </h4></td>
                      <td>False</td>
                      <td>
                          <label for="help" class="switch">
                              <% if @user.help == true %>
                              <input id="help" type="checkbox">
                              <% else %>
                              <input id="help" type="checkbox" checked="checked">
                              <% end %>
                              <div class="slider round"></div>
                          </label>
                      </td>
                      <td>True</td>
                  </tr>
                </tbody>
              </form>
              </table>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-xs-6">
        <div class="box">
          <div class="box-title">
            <h3>My Stacks</h3>
          </div>
          <table class="table table-striped">
            <thead>
              <th>Stack</th>
              <th>Start Date</th>
              <th>instructor</th>
              <th>Status</th>
            </thead>
            <tbody>
              <% @stacks.each do |stack| %>
              <tr>
                <td><%= stack.language.name %></td>
                <td><%= stack.start_date %></td>
                <td><%= stack.instructor.name %> </td>
                <td>blackbelt</td>
              </tr>
              <% end %>
              <% if @stacks.count < 4 %>
              <tr>
                <td>
                  <select class="select">
                    <option>Ruby</option>
                    <option>Python</option>
                    <option>Mean</option>
                    <option>IOS</option>
                  </select>
                </td>
                <td>
                  <select class="select">
                    <option>10/01/2016</option>
                    <option>11/01/2016</option>
                    <option>12/01/2016</option>
                    <option>1/01/2017</option>
                  </select>
                </td>
                <td colspan="2"> <button class="btn btn-primary">Join!</button></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$('.slider').click(function() {
    var c = $(this).prev();
    update_input(c);

});


function update_input(element) {
    console.log(element[0].checked);
    $.ajax({
          method: 'put',
          url: '/students/feedback/<%=@user.id%>',
          data: {input: {id: element[0].id, value: element[0].checked}},
          success: function(data) {

             },
          error: function(err) {
              }
        });
    }

    $.ajaxSetup({
  headers: {
    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
  }
});

</script>
