
<div class="dashboard-background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 dashboard-heading">
        <h1><%= @current_student.name %> <span class="small">Week <%= @weekcount %></span> <span class="small"><%= @language %></span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="box-title">
          <h3>Course Completion</h3>
        </div>
          <div class="col-xs-12 graph-box box">
            <%= pie_chart [["Completed", 10], ["Remaining", 5]], library: {pieHole: 5.5}, colors: ["#779CAB", "#A2E8DD"] %>
          </div>
      </div>
        <div class="col-xs-4">
          <div class="box-title">
            <h3>Hours this week</h3>
          </div>
            <div class="col-xs-12 graph-box box">
              <%= pie_chart @students.group(:happy).count, library: {pieHole: 0.4}, colors: ["#779CAB", "#A2E8DD"] %>
            </div>
        </div>
        <div class="col-xs-4">
          <div class="box-title">
            <h3>Performance</h3>
          </div>
            <div class="col-xs-12 graph-box box">
              <%= render partial: "performance_chart", locals: {:students => @students} %>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-xs-6">
          <div class="box-title">
            <h3>Announcements:</h3>
          </div>
          <div class="col-xs-12 alert-box box">
            <% @alerts.each do |alert| %>
              <p><%= alert.message %></p>
            <% end %>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="box-title">
            <h3>Instant Feedback:</h3>
          </div>
            <div class="col-xs-12 alert-box box">
              <table class='toggle_table text-center'>
                <form id="instant-feedback">
                  <tbody>
                  <tr>
                      <td colspan="4"><h4 class="text-left">I feel like I'm: </h4></td>
                      <td>On Pace</td>
                      <td>
                        <label for='performance' class="switch">
                            <% if @current_student.happy == true %>
                            <input id="performance" type="checkbox">
                            <% else %>
                            <input id="performance" type="checkbox" checked="checked">
                            <% end %>
                            <div class="slider round"></div>
                        </label>
                      </td>
                      <td>Behind</td>
                  </tr>
                  <tr>
                    <td colspan="4"><h4 class="text-left">I need help: </h4></td>
                      <td>True</td>
                      <td>
                          <label for="help" class="switch">
                              <% if @current_student.help == true %>
                              <input id="help" type="checkbox">
                              <% else %>
                              <input id="help" type="checkbox" checked="checked">
                              <% end %>
                              <div class="slider round"></div>
                          </label>
                      </td>
                      <td>False</td>
                  </tr>
                </tbody>
              </form>
              </table>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-xs-6">
        <div class="box">
          <div class="box-title">
            <h3>My Stacks</h3>
          </div>
          <table class="table table-striped">
            <thead>
              <th>Stack</th>
              <th>Start Date</th>
              <th>instructor</th>
              <th>Status</th>
            </thead>
            <tbody>
              <tr>
                <td>Web Fundamentals</td>
                <td>7/15/2016</td>
                <td>Speros</td>
                <td>blackbelt</td>
              </tr>
              <tr>
                <td>Python</td>
                <td>8/01/2016</td>
                <td>Jack</td>
                <td>Blackbelt</td>
              </tr>
              <tr>
                <td>Ruby</td>
                <td>09/01/2016</td>
                <td>David</td>
                <td>Blackbelt</td>
              </tr>
              <tr>
                <td>
                  <select class="select">
                    <option>Ruby</option>
                    <option>Python</option>
                    <option>Mean</option>
                    <option>IOS</option>
                  </select>
                </td>
                <td>
                  <select class="select">
                    <option>10/01/2016</option>
                    <option>11/01/2016</option>
                    <option>12/01/2016</option>
                    <option>1/01/2017</option>
                  </select>
                </td>
                <td colspan="2"> <button class="btn btn-primary">Join!</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<style>

#chart_type_div {
    vertical-align: top;
}
.toggle_table  td {
    padding-right: 20px;
}

.toggle_table td p {
     text-align:right;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3c4b5b;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff0000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff0000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.alert-box{
  padding:10px;
}

.graph-box{
  padding: 25px;
}
</style>

<script>
$('.slider').click(function() {
    var c = $(this).prev();
    update_input(c);

});


function update_input(element) {
    console.log(element[0].checked);
    $.ajax({
          method: 'put',
          url: '/students/feedback/<%=@current_student.id%>',
          data: {input: {id: element[0].id, value: element[0].checked}},
          success: function(data) {

             },
          error: function(err) {
              }
        });
    }

    $.ajaxSetup({
  headers: {
    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
  }
});

</script>
