<form id='edit_form' action='/students/<%=@user.id%>' method='post' ENCTYPE="multipart/form-data">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input name="_method" value="PUT" type="hidden">
    <% if session[:instructor_id] != nil%>
    <label>Name:
        <input type="text" value='<%=@user.name%>' id='nameBox' name="user[name]" />
        <br>
    </label>

    <label>Email:
        <input type="text" value='<%=@user.email%>' name="user[email]" />
    </label>
    <% else %>
    <label>Name:
        <label><%=@user.name%></label>
        <br>
    </label>
    <br>
    <label>Email:
        <label><%=@user.email%></label>
    </label>
    <% end %>
    <br>
    <label>Age:
        <input type="text" value='<%=@user.age%>' name="user[age]" />
    </label>
    <br>
    <label>Website:
        <input type="text" value='<%=@user.website%>' name="user[website]" />
    </label>
    <br>
    <label>LinkedIn:
        <input type="text" value='<%=@user.linkedin%>' name="user[linkedin]" />
    </label>
    <br>
    <label>About:
        <textarea name="user[about]"><%=@user.about%></textarea>
    </label>
    <br>
    <% if @user.avatar_file_name != nil %>
    <%= image_tag @user.avatar.url %>
    <% end %>
    <br>

    <!-- <label>File:
    <input name="user[avatar]" type="file" id="myFile">
</label> -->
<br>
<br>
<input type='submit' value='update'>
<br>
</form>
<div id='message'></div>

<script>

$(document).ready(function(){

    $('#edit_form').submit(function(){
        $.post(
            $(this).attr('action'),
            $(this).serialize(),
            function(data){
                console.log('Data Received from the Ajax call', data);
            },
            "json"
        );
        return false;
    });
});
//
// $('#edit_form').on("submit",function(event) {
//        event.preventDefault();
//        alert('here')
//       $.ajax({
//         method: $(this).attr('method'),
//         url: $(this).attr('action'),
//         data: $(this).serialize()
//         dataType: 'json',
//         success: function(json) {
//                alert('got here')
//            },
//        error: function(err) {
//               alert('i am error')
//             }
//
//       });
//   });

});


$('#nameBox').change(function() {
    var c = $(this);
    $.when(
        c.focusout()).then(function() {
            alert('ajax text to server')
        });

    });
    






    </script>
