<h1>Admin Page:</h1>

<a href="/students/new">Add a new student</a><br>
<a href="/instructors/new">Add a new instructor</a>

<br>
<br>
<br>
<br>

<div>
	<% @students.each do |student| %>
		<p><a href="/students/<%= student.id%>/edit"><%= student.email %></a> <%= student.name %></p>
	<% end %>
</div>
<hr>

<div>
	<% @instructors.each do |instructor| %>
		<p><a href="/instructors/<%= instructor.id%>/edit"><%= instructor.email %></a> <%= instructor.name %></p>
	<% end %>
</div>