
<div class="container">
  <div class="row">
    <div class="col-xs-12 dashboard-heading">
      <h1><%= @user.name %> </h1>
    </div>
  </div>
      <div class='row'>
          <h4>Student Submissions</h4>
          <%= line_chart @chart.group_by_day(:created_at).count, ytitle: "Total Assignments" %>
      </div>
      <br><br>
  <div class="row">
    <div class="col-xs-7">
      <div class="box"> <!-- Stack Admin Box -->
        <div class="box-title">
          <h3>My Stacks</h3>
        </div>
        <table class="table table-striped">
          <thead>
            <th>Stack</th>
            <th>Start Date</th>
            <th>Location</th>
            <th>Student Count</th>
            <th>Status</th>
            <th>Add Alert</th>
            <th>Setup</th>
          </thead>
          <tbody>

            <% if @stacks.count > 0 %>
              <% @stacks.each do |stack| %>
              <tr>
                <td><%= stack.language.name  %></td>
                <td><%= stack.start_date %></td>
                <td><%= stack.location.name %></td>
                <td><%= stack.stack_students.count %></td>
                <td>
                  <% if stack.active == false and stack.start_date < DateTime.now %>
                        Completed
                  <% elsif stack.active == false and stack.start_date > DateTime.now %>
                        Approaching
                  <% end %>
                  <% if stack.active == true %>
                        In Session
                  <% end %>
                </td>
                <td><button class="btn btn-primary btn-sm">Send Message</button></td>
                <td><a href="/stacks/<%= stack.id %>"><%= image_tag 'gear-icon', size:"32" %></a></td>
              </tr>
              <% end %>
            <% else %>
            <tr>
            <td colspan="7">You are not teaching any stacks</td>
            </tr?
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="box">
        <div class="box-title">
          <h3>Student Issues</h3>
        </div>
        <table class="table table-striped">
          <thead>
            <th>Student Name</th>
            <th>Falling Behind</th>
            <th>Needs Help</th>
            <th>Reset Concern</th>
          </thead>
          <tbody>
            <tr>
              <td>Roger</td>
              <td>true</td>
              <td></td>
              <td><button class="btn btn-primary btn-sm">Reset</button></td>
            </tr>
            <tr>
              <td>Bob</td>
              <td>True</td>
              <td></td>
              <td><button class="btn btn-primary btn-sm">Reset</button></td>
            </tr>
            <tr>
              <td>Sandy</td>
              <td></td>
              <td>True</td>
              <td><button class="btn btn-primary btn-sm">Reset</button></td>
            </tr>
            <tr>
              <td>Marerite</td>
              <td>True</td>
              <td></td>
              <td><button class="btn btn-primary btn-sm">Reset</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
